<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.midSoulAssets =  {
    localLogo: "<%= asset_path('midsoul-logo.jpg')%>",
    splashPageMP4: "<%= asset_path('splash-page.mp4') %>",
    splashPageWEBM: "<%= asset_path('splash-page.webm') %>",
    splashPageImage: "<%= asset_path('splash-shoes.jpg')%>"
  }
</script>

<main id='root'></main>

<!-- defaultProfPic: "<%= asset_path('default-prof-pic.png') %>", -->
