<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=geometry" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application',
      'https://fonts.googleapis.com/css?family=Open+Sans',
       media: 'all', 'data-turbolinks-track' => true %>
   <%= render 'application/favicon' %>
  <script>
    window.googleMapsApiKey = "<%= ENV['GOOGLE_STATIC_MAPS_API_KEY'] %>"
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
